/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css); //vars
$yellow: #ff9800;
$white: #fff;
$red: #f00;
$blue: rgba(47, 78, 198, 1);
$body-background: #f5f5f5;
$shadow-1: 0 1px 2px rgba(0,0,0,0.2);
$grey-text: #bbbbbb; // mixins
@mixin easy-transition-in() {
    opacity: 1;
    transition: opacity 0.3s ease;
}
@mixin shadow-1() {
    box-shadow: $shadow-1;
}
@mixin easy-transition-out() {
    opacity: 0;
    transition: opacity 0.3s ease;
}
// box-sizing
* {
    box-sizing: border-box;
}
// normalize text length
.steps-container {
    margin-bottom: 16px;
    label.step {
        background-color: $white;
        padding: 0;
        min-width: 40px;
        width: 40px;
        height: 40px;
        color: $grey-text;
        &.finished {
            color: $yellow;
        }
        &.current {
            cursor: default;
            color: inherit;
        }
        & + .step {
            margin-right: 8px;
        }
    }
    .step-description {
        display: block;
        margin: 10px;
        font-weight: 300;
        font-size: 15px;
    }
}
.text-yellow {
    color: $yellow;
}
.yellow {
    color: $yellow;
}
.text-white {
    color: $white;
}
.text-red {
    color: $red;
}
.img-cell {
    margin: 16px;
    width: 150px;
    height: 150px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    @include shadow-1();
    border-radius: 2px;
    &.selected {
        border: 2px solid $yellow;
    }
}
.card {
    position: relative;
    background-color: $white;
    margin-bottom: 3.2rem;
    @include shadow-1();
    .card-content {
        padding: 24px;
        .card-subtitle,
        .card-title {
            display: block;
        }
        .card-title {
            font-size: 20px;
            line-height: 28px;
        }
        .card-subtitle {
            line-height: 22px;
            font-size: 15px;
            color: $grey-text;
        }
        p {
            margin: 3rem 0;
        }
        .card-links {
            span {
                line-height: 20px;
                display: block;
                color: $blue;
                letter-spacing: 0.03rem;
                a {
                    color: $grey-text;
                }
            }
        }
    }
    .card-image {
        padding: 24px;
        .img-cell {
            margin: 0;
            width: 200px;
            height: 195px;
        }
    }
}
.action-panel {
    margin-top: 50px;
}
@media screen and (min-width: 768px) {
    .action-panel {
        margin-top: 150px;
    }
}
@media screen and (max-width:767px) {
    .card {
        .card-content {
            .card-links {
                position: relative;
            }
        }
    }
}
/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
