/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css);
//vars
$yellow: #ff9800;
$white: #fff;
$body-background: #f5f5f5;
$shadow-1: 0 1px 2px rgba(0,0,0,0.2);
$grey-text: #bbbbbb;

// mixins
@mixin easy-transition-in() {
    opacity: 1;
    transition: opacity 0.3s ease;
}
@mixin shadow-1() {
    box-shadow: $shadow-1;
}
@mixin easy-transition-out() {
    opacity: 0;
    transition: opacity 0.3s ease;
}

// box-sizing
* {
    box-sizing: border-box;
}

// normalize text length
.steps-container {
    margin-bottom: 16px;
    label.step {
        background-color: $white;
        padding: 0px;
        min-width: 40px;
        width: 40px;
        height: 40px;

        &.finished {
            color: $yellow;
        }
        & + .step {
            margin-right: 8px;
        }
    }
    .step-description {
        display: block;
        margin: 10px;
        font-weight: 300;
        font-size: 15px;
    }
}

.action-panel {
    margin-top: 150px;
}

.text-yellow {
    color: $yellow;
}
.yellow {
    color: $yellow;
}
.text-white {

}
/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
