html {
    height: 100%;
    touch-action: manipulation;
}
body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: $body-background;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.page-container-wrapper {
    // position: absolute;
    min-width: 100%;
    min-height: 100%;
    > .page-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        // position: relative;
        -webkit-overflow-scrolling: touch;
        > .page-content-layout {
            // min-height: 100%;
            // height: 100%;
            width: 100%;
            display: flex;
            overflow-x: hidden;
            flex-grow: 1;
            z-index: 1;
            min-height: 100%;
            position: absolute;
            > .page-container {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                min-height: 100%;
                position: relative;
                main.content {
                    // max-width: 960px;
                    position: relative;
                    min-height: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: stretch;
                }
            }
        }
    }
}

.flex {
    display: flex;
}

.row-center {
    align-content: center;
}
.column-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}

.baseline {
    vertical-align: baseline;
}
.grow {
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .sm-row {
        flex-direction: row;
    }

    .sm-column {
        flex-direction: column;
    }

    .sm-column-reverse {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 768px) {
    .md-row {
        flex-direction: row;
    }

    .md-column {
        flex-direction: column;
    }
}
